.buttons-postt {
  margin-top: 60px;
  position: inherit;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 15px;
  left: 0;
  right: 0;
  z-index: 9999;
  backdrop-filter: blur(1px);
}

.containerPosts {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.div-card {
  margin-left: auto;
  margin-right: auto;
  display: flex;

  margin-bottom: 2rem;
}

@media (max-width: 851px) {
  .buttons-postt {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .div-card {
    margin-top: 100px;
  }
}