.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
  }
  
  .content > .card {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    
  }
  
  @media screen and (max-width: 600px) {
    .content {
      justify-content: flex-start;
    }
    
    .content > .card {
      width: 100%;
    }
  }